fastapi==0.115.12
uvicorn==0.33.0
torch==2.4.1
transformers==4.46.3
huggingface-hub==0.31.2
pandas==2.0.3
numpy==1.24.4
tqdm==4.67.1
jupyterlab
ipykernel
jupyter_core
nbformat
nbconvert
ipywidgets
matplotlib 